html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}   

footer {
    background-color: #f5f5f5;
    padding: 5px 5px;
    color: #4a4a4a;
    font-size: 0.9rem;
    text-align: center;
    border-top: 1px solid #d8e8dc;
    line-height: 1.8;
    margin-top: auto;
}

footer a {
    color: #4a4a4a;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}
footer p{
    margin: 0;
}

footer a:hover {
    color: #6b8e72; /* Vert doux */
}

.back-to-top {
    display: inline-block;
    margin-top: 5px;
    font-size: 0.8rem;
}

.footer-copy {
    margin:0;
    font-size: 0.8rem;
    color: #777;
}
